body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

li.menubar {
    float: left;
    height: 50px;
}

li.menubar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menubar a:hover {
    background-color: #111;
}

li.menubar a.active {
    background-color: #4CAF50;
}

@media (orientation:portrait) {
    ul.menubar {
        height: 75px;
    }

    li.menubar {
        height: 75px;
    }

    li.menubar a {
        padding: 14px 50px;
        font-size: 35px;
    }
}