body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 4vh;
}

li.menubar {
    float: left;
    height: 4vh;
}

li.menubar a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li.menubar a:hover {
    background-color: #111;
}

li.menubar a.active {
    background-color: #4CAF50;
}