@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
}

#map {
    height: calc(100vh - 50px);
    width: 100vw;
    margin: 0;
}
@media (orientation:portrait) {
    #map {
        height: calc(100vh - 75px);
    }
}

.gm-style-iw {
    width: fit-content !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    padding: 4px;
    border-radius: 4px;
}

.mapImg {
    max-width: 320px;
    max-height: 125px;
}

.centerIW {
    text-align: center;
}

.iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

.opts {
    width: 100%;
    border: solid #656565 1px;
}

.red {
    color: red !important;
}

.green {
    color: #4CAF50 !important;
}

.iw-avail {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #efefef;
    color: white;
    margin: 0;
    white-space: pre;
    display: inline-block;
    width: 15%;
    text-align: center;
}

.iw-opts {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #333333;
    color: white;
    margin: 0;
    white-space: pre;
    display: inline-block;
    width: 85%;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + 1vh);
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 75%;
    top: 10px !important;
    height: 4vh !important;
    border-radius: 7px;
    border-width: 0;
}

#pac-input:focus {
    border-color: #4d90fe;
}