@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
}

#map {
    height: calc(100vh - 50px);
    width: 100vw;
    margin: 0;
}
@media (orientation:portrait) {
    #map {
        height: calc(100vh - 75px);
    }
}

.mapImg {
    max-width: 320px;
    max-height: 125px;
}

.centerIW {
    text-align: center;
}

.iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 3px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + 1vh);
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 75%;
    top: 10px !important;
    height: 4vh !important;
    border-radius: 7px;
    border-width: 0;
}

#pac-input:focus {
    border-color: #4d90fe;
}